// component styles are encapsulated and only applied to their components
#page-content-wrapper {
  background-color: transparent;
  flex-direction: column;
  position: relative;
}
my-user-row{
  width: 100%;
}
#pane-users{
  display: flex;
  flex-direction: column-reverse;
}
