<div class="container-fluid">
  <div class="login jumbotron center-block">
    <br>
    <br>
    <h1>Login</h1>
    <form role="form" (submit)="login($event, username.value)" class="effect2" style="transform: translateX(0%);">
      <div class="">
        <input type="text" #username id="username" placeholder="type a username" class="input-white">
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-default btn-game">Enter</button>
      </div>
    </form>
  </div>
</div>