// component styles are encapsulated and only applied to their components

.wrapper {
  display:    flex;
  min-height: 100vh;
  & > aside{
    background:   #303641;
    width:        480px;
    max-width:    480px;
    min-width:    480px;
    flex:           1;
    flex-direction: column;
  }
  & > main{
    flex:             1;
    height:           100vh;
    overflow-y:       auto;
    display:          flex;
    flex-wrap:        wrap;
    justify-content:  center;
    align-content:    center;
  }
}
.tabs-list{
  background: red;
  height: 55px;
  min-height: 55px;
  max-height: 55px;
  flex:           1;
}
.tab-content{
  flex:           2;
}
.game-information{
  flex:           1;
  display:        flex;
  flex-direction: column;
}
.the-game{
  display: flex;
  flex:             1;
  flex-wrap:        wrap;
  justify-content:  center;
  align-content:    center;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  position: relative;
  user-select: none;
}
#scoreboard, #chat{
  flex:           1;
}