<div class="wrapper">
  <main>
    <div *ngIf="this.user" class="the-game">
      <my-card  *ngFor="let card of cards; let i = index;" [item]="card" [itemNumber]="i+1" ></my-card>
    </div>
    <div *ngIf="!this.user" class="the-intro">
      <br>
      <br>
      <br>
      <br>
      <h4 class="text-center">collaborative - no turn based </h4>
      <h1 class="text-center">Memory Game</h1>
      <h4 class="text-center">its never been more challenging </h4>
      <div class="demo demo-one">
        <my-card  *ngFor="let card of cardsDemo; let i = index;" [item]="card" [itemNumber]="i+1" [itemDemo]="true" ></my-card>
      </div>
    </div>
  </main>
  <aside class="pane">
    <div *ngIf="this.user" class="game-information">
      <div class="tabs-list">
        <a href="#scoreboard" aria-controls="scoreboard" role="tab" data-toggle="tab" class="game-tab" [class.active]="this.tabSelected == 0" (click)="tabClick(0)">scoreboard</a>
        <a href="#chat" aria-controls="chat" role="tab" data-toggle="tab" class="game-tab" [class.active]="this.tabSelected == 1" (click)="tabClick(1)">chat</a>
      </div>
      <div class="tab-content pane">
        <div role="tabpanel" class="tab-pane active" id="chat">
          <my-chat></my-chat>
        </div>
        <div role="tabpanel" class="tab-pane" id="scoreboard">
          <my-scoreboard></my-scoreboard>
        </div>
      </div>
    </div>
    <div >
      <my-login  *ngIf="!this.user" (onLogin)="onLogin($event)" ></my-login>
    </div>
  </aside>
</div>